<template>  
    <div class="card card-default">
        <div class="card-header">Example Component</div>

        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>E-mail</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in objList">
                        <td>{{item.desc_item}}</td>
                        <td>{{item.desc_estab}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</template>

<script>
    export default {
        props: ['items'],
        data(){
            return{
                objList: null
            }
        },
        methods: {
            load: function(event){                
                axios
                .get('http://127.0.0.1:8000/sku/lista')
                //.then(response => ( this.$store.commit('setItem', res.data) ));
                .then(response => { 
                    this.objList = response.data;                     
                });
            }
            
        },
        created(){
            this.load()
        }
    }

</script>
